<div id='identified-denouncement' class='identification-form hidden'>
  <p class='msg'>
    <%= _('If the violation happened to you, the agencies will need your '\
          'information in order to analyze your denouncement. You cannot '\
          'proceed anonymously.') %>
  </p>
  <p class='msg'>
    <%= _("If you want to proceed, fill your information below. Otherwise, "\
          "you can cancel this denouncement in the button below.") %>
  </p>

  <%= render partial: 'denouncements_plugin_steps/identification/use_profile' %>

  <div class='fields'>
    <%= hidden_field_tag 'person[identified]', 1 %>
    <%= text_field_tag 'person[name]', nil, placeholder: _('Name'),
                       id: 'person-name', class: 'text-person-name',
                       autocomplete: 'off' %>
    <%= text_field_tag 'person[email]', nil, placeholder: _('Email'),
                       id: 'person-email', class: 'text-person-email',
                       autocomplete: 'off' %>
    <div class='field-row'>
      <%= text_field_tag 'person[address]', nil, placeholder: _('Residence Address'),
                         id: 'person-address', autocomplete: 'off',
                         class: 'text-person-address search-address' %>
      <a class='button fa fa-location-arrow current-location' alt="<%= _('Use my current location') %>" title="<%= _('Use my current location') %>" href='#'>
      </a>
    </div>
    <div id="google-map-identification-step" class='map-wrapper'></div>
  </div>

  <div class='error-msgs'>
    <p class='error-msg invalid-email'>
      <%= _('Email is not valid') %>
    </p>
    <p class='error-msg required-fields'>
      <%= _('All fields are required') %>
    </p>
  </div>

  <div class='button-bar'>
    <%= button :remove, _('Cancel'), '#', class: 'cancel-btn' %>
    <%= button :next, _('Continue'), '#', class: 'continue-btn' %>
  </div>
</div>

<div id='cancelled-identification' class='hidden'>
  <p class='msg'>
    <%= _("You have chosen not to continue with the denouncement under "\
          "the current terms. If you changed your mind and are willing "\
          "to provide the required information, go back and continue.") %>
  </p>

  <div class='button-bar'>
    <%= button :back, _('Go back'), '#' %>
  </div>
</div>

<div id='socioeconomic-data' class='hidden'>
  <div class='fields'>
    <%= content_tag('label', _('When is your birthday?')) %>
    <%= content_tag('label',
                    date_field('person[birth_date]', nil,
                               {
                                 change_month: true,
                                 change_year: true,
                                 date_format: 'yy-mm-dd',
                                 year_range: 'c-100:c-5'
                               },
                               { id: 'datepicker-to-date',
                                 placeholder: "",
                                 readonly: true
                               })) %>

    <%= content_tag('label', _('What is your ethnicity?')) %>
    <%= select_tag 'person[ethnicity]',
        options_from_collection_for_select(ethnicity_list, :first, :last),
        class: 'person-ethnicity',
        prompt: "" %>

    <%= content_tag('label', _('Do you have any type of disability?')) %>
    <% disabilities_list.each do |key, value| %>
      <div class="check-box-container">
        <%= labelled_check_box(value, "person[disabilities][#{key}]", '1') %>
      </div>
    <% end %>

    <%= content_tag('label', _('What is your gender identity?')) %>
    <%= select_tag 'person[gender_identity]',
        options_from_collection_for_select(gender_identity_list, :first, :last),
        class: 'person-gender-identity',
        prompt: "" %>

    <%= content_tag('label', _('What is your gender condition?')) %>
    <%= select_tag 'person[gender_condition]',
        options_from_collection_for_select(gender_condition_list, :first, :last),
        class: 'person-gender-condition',
        prompt: "" %>

    <%= content_tag('label', _('What is your sexual orientation?')) %>
    <%= select_tag 'person[sexual_orientation]',
        options_from_collection_for_select(sexual_orientation_list, :first, :last),
        class: 'person-sexual-orientation',
        prompt: "" %>

  </div>
  <div class='button-bar'>
    <%= button :back, _('Go back'), '#' %>
    <%= button :next, _('Continue'), '#', class: 'continue-btn' %>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa1kd5joH-_J_z26B3pkEo2_0VDeTF-rY&callback=initMap", async defer></script>
