<div class='<%= 'media-section-' + type %> sub-section'>
  <span class='sub-section-name'><%= name %></span>
  <div class='<%= type + '-list media-list'%>'>
    <div class='<%= type + '-file'%> entry media-file template'>
      <span class='index'></span>
      <div class='entry-info'>
        <div class='info-row'>
          <span class='media-name'></span>
        </div>
      </div>
    </div>
  </div>
</div>
