<% if @denouncement %>
  <table>
    <thead>
      <tr>
        <th><%= _("Protocol") %></th>
        <th><%= _("Date") %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to @denouncement.token, action: :show,
                                             token: @denouncement.token %></td>
        <td><%= show_date @denouncement.date %></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <%= _('Denouncement not found') %>
<% end %>
