<h1><%= _('Denouncements') %></h1>

<%= form_tag({ controller: 'denouncements_plugin', action: :show },
             method: :get, class: 'denouncements-search-form') do %>
  <%= text_field_tag :token, nil, placeholder: _("Enter denouncement's protocol")  %>
  <%= submit_button :search, _('Search'), id: 'submit-form', style: 'display: none;' %>
<% end %>

<div id="denouncements-list">
  <h2>
    <%= current_person.is_admin? ? _("Denouncements") : _("My Denouncements") %>
  </h2>
  <table>
    <thead>
      <tr>
        <th><%= _("Protocol") %></th>
        <th><%= _("Date") %></th>
      </tr>
    </thead>
    <tbody>
      <% if @denouncements.present? %>
        <% @denouncements.each do |d| %>
          <tr>
            <td><%= link_to d.token, action: :show, token: d.token %></td>
            <td><%= show_date d.created_at %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan='2'><%= _('No denouncements to list') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= pagination_links(@denouncements, { param_name: 'npage' }) if @denouncements.present? %>
</div>
