<%= form_tag({ controller: 'denouncements_plugin', action: :show },
             class: 'denouncements-search-form', method: :get) do %>
  <%= text_field_tag :token, @denouncement.try(:token), placeholder: _("Enter the denouncement's protocol")  %>
  <%= submit_button :search, _('Search'), id: 'submit-form', style: 'display: none;' %>
<% end %>

<div id="denouncement-info">
  <% if @denouncement.present? %>
    <div id='denouncement-identification' class='section'>
      <div class='section-header'>
        <span class='section-name'><%= _('Your Information') %></span>
      </div>

      <p id='identified-msg' class='msg hidden'>
        <%= _('Your information will be sent to the agencies.') %>
      </p>
      <p id='anonymous-msg' class='msg hidden'>
        <%= _('This report will be sent anonymously, no one will have access '\
              'to your information.') %>
      </p>

      <div class='section-line'>
        <span class='field-name'><%= _('Name:') %></span>
        <span class='field-value'><%= @denouncement.denouncer.name %></span>
      </div>
      <div class='section-line'>
        <span class='field-name'><%= _('Email:') %></span>
        <span class='field-value'><%= @denouncement.denouncer.email %></span>
      </div>
      <div class='section-line'>
        <span class='field-name'><%= _('Address:') %></span>
        <span class='field-value'><%= @denouncement.person_data['address'] %></span>
      </div>
      <div class='section-line birth-date'>
        <span class='field-name'><%= _('Birth date:') %></span>
        <span class='field-value'>
          <%= safe_show_date(@denouncement.person_data['birth_date']) %>
        </span>
      </div>
      <div class='section-line ethnicity'>
        <span class='field-name'><%= _('Ethnicity:') %></span>
        <span class='field-value'>
          <%= ethnicity_list[@denouncement.person_data['ethnicity']] %>
        </span>
      </div>
      <div class='section-line disability'>
        <span class='field-name'><%= _('Disability:') %></span>
        <span class='field-value disability'>
          <%= disabilities_to_s(@denouncement.person_data['disabilities']) %>
        </span>
      </div>
      <div class='section-line gender-identity'>
        <span class='field-name'><%= _('Gender identity:') %></span>
        <span class='field-value'>
          <%= gender_identity_list[@denouncement.person_data['gender_identity']] %>
        </span>
      </div>
      <div class='section-line gender-condition'>
        <span class='field-name'><%= _('Gender condition:') %></span>
        <span class='field-value'>
          <%= gender_condition_list[@denouncement.person_data['gender_condition']] %>
        </span>
      </div>
      <div class='section-line sexual-orientation'>
        <span class='field-name'><%= _('Sexual orientation:') %></span>
        <span class='field-value'>
          <%= sexual_orientation_list[@denouncement.person_data['sexual_orientation']] %>
        </span>
      </div>
    </div>

    <div id='denouncement-victims' class='section victims-list'>
      <div class='section-header'>
        <span class='section-name'><%= _('Victims') %></span>
      </div>

      <% @denouncement.metadata['victims'].each_with_index do |victim, index| %>
        <div class='victim entry'>
          <span class='index'><%= index + 1 %></span>
          <div class='entry-info'>
            <div class='info-row'>
              <span class='info-attr'><%= _('Name:') %></span>
              <span class='victim-name'><%= victim['name'] %></span>
            </div>
            <div class='info-row'>
              <span class='info-attr'><%= _('Contact Info:') %></span>
              <span class='victim-contact'><%= victim['contact'] %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div id='denouncement-offenders' class='section offenders-list'>
      <div class='section-header'>
        <span class='section-name'><%= _('Offenders') %></span>
      </div>

      <% @denouncement.metadata['offenders'].each_with_index do |offender, index| %>
        <div class='offender entry'>
          <span class='index'><%= index + 1 %></span>
          <div class='entry-info'>
            <div class='info-row'>
              <span class='info-attr'><%= _('Name:') %></span>
              <span class='offender-name'><%= offender['name'] %></span>
            </div>
            <div class='info-row'>
              <span class='info-attr'><%= _('Relationship:') %></span>
              <span class='offender-relationship'>
                <%= relationship_list[offender['relationship']] %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div id='denouncement-occurrence' class='section'>
      <div class='section-header'>
        <span class='section-name'><%= _('Occurrence') %></span>
      </div>

      <div class='section-line'>
        <span class='field-name'><%= _('Date:') %></span>
        <span class='field-value'><%= show_date(@denouncement.date) %></span>
      </div>
      <div class='section-line'>
        <span class='field-name'><%= _('Address:') %></span>
        <span class='field-value'><%= @denouncement.address %></span>
      </div>
      <div class='section-line'>
        <span class='field-name'><%= _('Details:') %></span>
        <span class='field-value'><%= @denouncement.description %></span>
      </div>
    </div>

    <div id='denouncement-files' class='section'>
      <div class='section-header'>
        <span class='section-name'><%= _('Media Files') %></span>
      </div>

      <% if @denouncement.media_files.present? %>
        <div class='media-list'>
          <% @denouncement.media_files.each_with_index do |file, index| %>
            <div class='entry media-file'>
              <span class='index'><%= index + 1 %></span>
              <div class='entry-info'>
                <div class='info-row'>
                  <span class='media-name'>
                    <%= link_to(file.filename, { action: :download_file,
                                                 file_id: file.id,
                                                 token: @denouncement.token }) %>
                  </span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p class='no-files-message'><%= _('No media file added.') %></p>
      <% end %>
    </div>
  <% else %>
    <%= _('Denouncement not found') %>
  <% end %>
</div>
