div.steps-bar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin: 15px 0;
  padding: 0px 16px;

  div.step-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    position: relative;

    &:first-child {
      flex-grow: 0;
    }

    &:not(:first-child)::before {
      content: '';
      width: calc(100% - 18px);
      height: 8px;
      text-align: center;
      background-color: #ddd;
      position: absolute;
      top: 21px;
      left: -5px;
      z-index: 0;
      transition: background-color 0.2s ease-in 0.2s;
    }

    &.past span.step {
      background-color: #fbba00;
      border-color: #fbba00;
    }

    &.past::before, &.active::before {
      background-color: #fbba00;
      border-color: #fbba00;
    }

    &.active span.step {
      background-color: #c99502;
      border-color: #c99502;
      width: 45px;
      line-height: 45px;
      font-size: 22px;
    }
  }

  span.step {
    display: block;
    font-weight: 700;
    font-size: 16px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ddd;
    color: white;
    border-radius: 4px;
    z-index: 1;
    transition: all 0.3s ease-out;
  }
}
