.toggleable-field,
.toggleable-select {
  display: flex;
  align-items: center;

  label {
    display: flex;
    flex-direction: column;
  }

  input[type=text],
  select {
    flex-grow: 1;
    margin-right: 10px;
  }

  input[type=text]:disabled,
  select:disabled {
    background-color: #ddd;
    font-style: italic;
  }
}
