@import 'stylesheets/confirmation';
@import 'stylesheets/checkbox_toggle';
@import 'stylesheets/steps';
@import 'stylesheets/steps_bar';
@import 'stylesheets/toggleable_fields';
@import 'stylesheets/profile_description_block';
@import 'stylesheets/communities_list_block';
@import 'stylesheets/happens_block';

html body {
  background: white;
}

#denouncements-menu {
  display: flex;
  padding-top: 25vh;
  flex-direction: column;
  justify-content: center;

  a.button {
    background-color: #fbba00 !important;
    border: none;
    border-radius: 0;
    margin: 0;
    min-height: 50px;
    line-height: 50px !important;
    padding: 0 !important;
    color: white !important;
    font-size: 1.2em !important;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
      background-color: #fbba00;
    }

    &:first-child {
      margin-right: 0 !important;
      margin-bottom: 30px;
    }
  }
}

form.denouncements-search-form {
  display: flex;
  height: 40px;
  margin-bottom: 20px;

  input#token {
    flex: 1;
    margin-right: 10px;
    height: 100%;
    font-size: 13px;
  }

  a.button.icon-search {
    min-width: 90px;
    height: 100%;
    line-height: 40px !important;
    margin: 0;
    padding: 0 5px !important;
    box-shadow: 1px 1px 3px #777;
    border: none;
    background-color: #5c6e84 !important;
    color: white !important;

    &:hover {
      background-color: #414d5d !important;
    }
  }
}

@media only screen and (max-width: 540px) {
  form.denouncements-search-form {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 540px) {
  form.denouncements-search-form, #denouncement-info {
    margin: 0 auto 20px;
    max-width: 80%;
  }
}

#denouncements-list {
  margin-top: 10px;
  font-size: 14px;

  h2 {
    color: #555753;
    font-size: 16px;
    margin: 20px 0px 0px 0px;
  }

  table {
    font-family: Liberation Sans, Arial, sans-serif;
    margin-top: 10px;
    thead th {
      color: #222;
      font-size: 15px;
      border-bottom: 1px solid #222;
      text-align: center;
    }

    tbody {
      tr {
        height: 40px;
        &:nth-child(odd) {
          background-color: #f9f9f9;
        }
      }

      td {
        color: #222;
        font-size: 13px;
        text-align: center;

        span.open {
          content: '';
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 7.5px;
          background-color: #3AC477;
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }
  }
}
