
<% if current_person %>
  <% self.extend(DenouncementsPlugin::CommunitiesListBlockHelper) %>

  <% p = current_person %>

  <%= block_title((block.view_title +
                   content_tag(:div, link_to(font_awesome(:plus), '#'), class: "more") +
                   content_tag(:div, link_to(font_awesome(:'arrow-left'), profile ? profile.url : p.url), class: "back")
                  ).html_safe, block.subtitle) %>

  <% if profile.is_a? Person %>
    <ul class="communities-list">
      <% p.communities.each do |community| %>
        <li>
          <div class="community-image">
            <%= link_to(profile_image(community), community.url) %>
          </div>
          <div class="community-info">
            <div class="community-title"><%= link_to community.name, community.url %></div>
            <div class="num-members">
              <% if role_in(p, community) %>
                <%= _(role_in(p, community).name) %>
                <span class="bullet-separator">•</span>
              <% end %>
              <%= _("%d members" % community.members.count) %>
            </div>
            <div class="community-created-at"><%= _("Created at:") %> <%= show_date(community.created_at) %></div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if profile.is_a? Community %>
    <% community = profile %>
    <div class="community-header">
      <div class="community-image">
        <%= link_to(profile_image(community), community.url) %>
      </div>
      <div class="community-info">
        <h2 class="community-title"><%= link_to community.name, community.url %></h2>
        <div class="num-members">
          <% if role_in(p, community) %>
            <%= _(role_in(p, community).name) %>
            <span class="bullet-separator">•</span>
          <% end %>
          <%= _("%d members" % community.members.count) %>
        </div>
        <div class="community-created-at"><%= _("Created at:") %> <%= show_date(community.created_at) %></div>
      </div>
    </div>

    <p><%= community.description %></p>
  <% end %>

  <div class="communities-actions">
    <% if profile.is_a? Person %>
      <%= link_to((image_tag("plugins/denouncements/images/default-file.png", class: "default-file") +
                  content_tag(:div, _("Create community"), class: "action-title")).html_safe,
                  { controller: 'memberships', action: 'new_community' },
                  { class: "action" })
      %>

      <%= link_to((image_tag("plugins/denouncements/images/default-file.png", class: "default-file") +
                  content_tag(:div, _("See all communities"), class: "action-title")).html_safe,
                  { controller: "search", action: "communities" },
                  { class: "action" })
      %>
    <% elsif profile.is_a? Community %>
      <%= link_to((image_tag("plugins/denouncements/images/members.png", class: "default-file") +
                  content_tag(:div, _("Members"), class: "action-title")).html_safe,
                  { controller: "profile", action: "members" },
                  { class: "action #{"current" if [action_name, params[:action]].include? "members"}" })
      %>

      <%= link_to((image_tag("plugins/denouncements/images/agenda.png", class: "default-file") +
                  content_tag(:div, _("Agenda"), class: "action-title")).html_safe,
                  { controller: "profile", action: "events" },
                  { class: "action #{"current" if [action_name, params[:action]].include? "events"}" })
      %>

      <%= link_to((image_tag("plugins/denouncements/images/poll.png", class: "default-file") +
                  content_tag(:div, _("Queries"), class: "action-title")).html_safe,
                  { controller: 'custom_forms_plugin_myprofile' },
                  { class: "action #{"current" if [controller_name, params[:controller]].include?("custom_forms_plugin_myprofile") &&
                                                       [action_name, params[:action]].include?("index")}" })
      %>

      <%= link_to((image_tag("plugins/denouncements/images/blog.png", class: "default-file") +
                  content_tag(:div, _("Blog"), class: "action-title")).html_safe,
                  profile.blog.view_url,
                  { class: "action #{"current" if [action_name, params[:action]].include? "view_page"}" })
      %>

      <% if profile && current_person.is_member_of?(profile) %>
        <%= link_to((image_tag("plugins/denouncements/images/meeting-room.png", class: "default-file") +
                    content_tag(:div, _("Meeting Room"), class: "action-title")).html_safe,
                    "https://appear.in/#{profile.identifier}",
                    { class: "action", target: "_blank"})
        %>

        <%= link_to((image_tag("plugins/denouncements/images/default-file.png", class: "default-file") +
                    content_tag(:div, _("Content"), class: "action-title")).html_safe,
                    { controller: "cms", action: "index" },
                    { class: "action #{"current" if [controller_name, params[:controller]].include?("cms") &&
                                                    [action_name, params[:action]].include?("index")}" })
        %>

        <%= link_to((image_tag("plugins/denouncements/images/dialogs.png", class: "default-file") +
                    content_tag(:div, _("Dialogs"), class: "action-title")).html_safe,
                    profile.default_forum.view_url,
                    { class: "action" })
        %>

        <%= link_to((image_tag("plugins/denouncements/images/leave.png", class: "default-file") +
                    content_tag(:div, _("Leave"), class: "action-title")).html_safe,
                    { controller: "profile", action: "leave" },
                    { class: "action leave", remote: true })
        %>
      <% end %>
    <% end %>
  </div>

  <% if profile && profile.is_a?(Community) && action_name == "index" %>
    <%= button_bar do %>
      <%= button :plus, _('Join'), { action: 'join'  }, class: 'join', remote: true unless current_person.is_member_of? profile %>
      <%= button :plus, _('Back'), { action: 'index' }, class: 'back' %>
    <% end %>
  <% end %>
<% end %>
