<% 
    actions = ''
    begin
      actions = content_tag :ul, article_actions.map { |action| content_tag :li, action }.reject(&:empty?).join.html_safe, class: "noosfero-dropdown-menu"
    rescue Exception
      actions = ""
    end

  %>
 
<%= block_title((block.view_title +
                            content_tag(:div,
                                        link_to(font_awesome(:plus), '#', class: "menu-toggle") +
                actions, class: "more")).html_safe, block.subtitle) %>
