<% if current_person %>

  <% p = current_person %>

  <%= block_title((block.view_title +
                   content_tag(:div, link_to(font_awesome(:plus), '#'), class: "more") +
                   content_tag(:div, link_to(font_awesome(:'arrow-left'), p.url), class: "back")
                  ).html_safe, block.subtitle) %>

  <div class="profile-description">
    <div class="profile-image">
      <%= link_to(profile_image(p), p.url) %>
    </div>

    <div class="profile-description-content">
      <div class="profile-description-header">
        <div class="profile-info">
          <h2><%= link_to p.name, p.url %></h2>
          <h3><%= p.city %></h3>
        </div>
      </div>

      <p>
        <%= p.description %>
      </p>
    </div>
  </div>

  <div class="profile-actions">
    <a class="action <%= "current" if ["content_viewer", "cms"].include? controller_name %>" href="<%= myprofile_path controller: 'cms', action: 'index', profile: p.identifier %>">
      <%= image_tag "plugins/denouncements/images/default-file.png", class: "default-file" %>
      <div class="action-title">
        <%= _("Content") %>
      </div>
    </a>

    <a class="action" href="https://appear.in/<%=p.identifier%>">
      <%= image_tag "plugins/denouncements/images/meeting-room.png", class: "default-file" %>
      <div class="action-title">
        <%= _("Meeting Room") %>
      </div>
    </a>

    <%= link_to((image_tag("plugins/denouncements/images/poll.png", class: "default-file") +
                content_tag(:div, _("Queries"), class: "action-title")).html_safe,
                { profile: p.identifier, controller: 'custom_forms_plugin_myprofile' },
                { class: "action #{"current" if ["custom_forms_plugin_myprofile", "custom_forms_plugin_profile"].include? controller_name}" })
    %>

    <%= link_to((image_tag("plugins/denouncements/images/see-all-profiles.png", class: "default-file") +
                content_tag(:div, _("See all profiles"), class: "action-title")).html_safe,
                '/search/people',
                class: "action #{"current" if [action_name, params[:action]].include?("friends") || (profile && profile.person? && profile != current_person)}")
    %>
  </div>

  <% if profile && profile.person? && profile != current_person %>
    <% p = profile %>
    <div class="another-profile-description">
      <div class="profile-image">
        <%= link_to(profile_image(p), p.url) %>
      </div>

      <div class="profile-description-content">
        <div class="profile-description-header">
          <div class="profile-info">
            <h2><%= link_to p.name, p.url %></h2>
            <h3><%= p.city %></h3>
          </div>
        </div>
        <p>
          <%= p.description %>
        </p>
      </div>
    </div>

    <%= button_bar do %>
      <%= button '', _('Voltar'), current_person.public_profile_url.merge(action: 'friends') %>
    <% end %>
  <% end %>
<% end %>
